<div class="row">
    <div class="col-2 d-flex flex-column" *ngFor="let photo of member.photos">
        <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1 mb-2">        
        <div class="d-flex">
            <button 
                [disabled]="photo.isMain"
                (click)="setMainPhoto(photo)"
                [ngClass]='photo.isMain ? "btn-success active" : "btn-outline-success"'
                class="btn btn-sm flex-grow-1 mx-1"
            >Main</button>
            <button 
                [disabled]="photo.isMain"
                (click)="deletePhoto(photo)"
                class="btn btn-sm btn-danger flex-grow-1 mx-1"
            ><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3">
        <h5>Add Photos</h5>
        <ng-container *ngIf="!isMemberDisabled">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone mt-3">
                <i class="fa fa-upload fa-3x"></i>
                Drop Photo
            </div>
        </ng-container>

        <!-- <div ng2FileDrop
             [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
             (fileOver)="fileOverAnother($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
            Another drop zone
        </div> -->

        <div class="mt2">
            Multiple Photos
            <input [disabled]="isMemberDisabled" type="file" ng2FileSelect [uploader]="uploader" multiple />
        </div>

        <div class="mt-2">
            Single Photo
            <input [disabled]="isMemberDisabled" type="file" ng2FileSelect [uploader]="uploader" />
        </div>
    </div>

    <!-- *ngIf="uploader?.queue?.length" -->
    <div class="col-md-9" style="margin-bottom: 40px">

        <h5>Upload queue</h5>
        <p class="mt-2">Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <!-- <th>Status</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                            </div>
                        </div>
                    </td>
                    <!-- <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                    <span *ngIf="item.isError"><i class="fa fa-remove"></i></span>
                </td> -->
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs mx-1" (click)="item.upload()"
                            [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="fa fa-upload"></span>
                        </button>
                        <button type="button" class="btn btn-warning btn-xs mx-1" (click)="item.cancel()"
                            [disabled]="!item.isUploading">
                            <span class="fa fa-ban"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs mx-1" (click)="item.remove()">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div class="mt-5">
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <div class="mt-4"></div>
            <button type="button" class="btn btn-success btn-s mx-2" (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s mx-2" (click)="uploader.cancelAll()"
                [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s mx-2" (click)="uploader.clearQueue()"
                [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>