<div class="card">
    <div class="card-body" #scrollMe style="overflow: scroll; height: 500px;" [scrollTop]="scrollMe.scrollHeight">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <ul *ngIf="(messageService.messageThread$ | async)?.length > 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div>
                    <span class="chat-img">
                        <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
                            alt="{{message.senderName}}">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
                                <span class="text-danger" *ngIf="!message.messageRead 
                                    && message.senderId !== message.recipientId">
                                    (unread)
                                </span>
                                <span class="text-success" *ngIf="message.messageRead 
                                    && message.senderId !== message.recipientId">
                                    (read {{message.messageRead | timeago}})
                                </span>
                                <span class="btn-group" dropdown *ngIf="recipientId !== message.senderId">
                                    <a (click)="$event.stopPropagation()" id="button-basic" dropdownToggle type="button"
                                        class="dropdown-toggle" aria-controls="dropdown-basic">
                                        <i class="fa fa-trash"></i> <span class="caret"></span>
                                    </a>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem"><a class="dropdown-item " (click)="$event.stopPropagation()"
                                                (click)="deleteMessage(message.id,'false')"><i class="fa fa-user">
                                                    Delete for me</i></a></li>
                                        <li role="menuitem"><a class="dropdown-item" (click)="$event.stopPropagation()"
                                                (click)="deleteMessage(message.id,'true')"><i class="fa fa-users">
                                                    Delete for all</i></a></li>
                                    </ul>
                                </span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input name="messageContent" required [(ngModel)]="messageContent" type="text"
                    class="form-control input-sm" placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" class="btn btn-primary"
                        type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>